@model IEnumerable<JobSearchApp_MVC.Models.JobDetails>

@{
    ViewData["Title"] = "Job.com";
}
<div class="navigation">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            @*<a class="navbar-brand" asp-controller="Home" asp-action="Index">JobSearchApp_MVC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>*@
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Consumer" asp-action="Profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Consumer" asp-action="JobsCreated"> Jobs Created </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Consumer" asp-action="JobPosting"> JobPosting </a>
                    </li>
                </ul>
            </div>
        </div>
         <a class="nav-item mr-3 nav-link p-3" asp-controller="Home" asp-action="Index">Logout</a>
    </nav>
</div>

<div class="consumer-jobs">
    @foreach(var job in @Model)
    {
        <div>
            <p> Job Id : @job.JobId </p>
            <p> Job Title : @job.JobTitle </p>
            <p> Job Descrption : @job.JobDescription</p>
            <p> Key Skillls : @job.KeySkills</p>
            <p> Required Year of Experience : @job.YearOfExperience</p>
            <p> Created On : @job.CreatedOn </p>
            <a asp-action="MatchedResume" asp-route-jobId="@job.JobId" class="btn btn-danger"> See Matched Resume </a>
            <br>
            <hr>
        </div>
    }
</div>

